.text{
    @apply text-white capitalize font-medium;
}
.h2{
    @apply font-bold capitalize text-2xl my-3;
}
.titre{
    @apply font-semibold capitalize text-lg text-[#20201b];
}
.App {
    font-family: Arial, sans-serif;
  }
/*   
  h1, h2 {
    color: #333;
  } */
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding:0;
    /* border: 1px solid #ddd; */
    /* margin-bottom: 30px; */
    cursor: pointer;
  }
  
  button {
    background-color: #374121;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  /* button:hover {
    background-color: #0056b3;
  } */
  
  img {
    /* border-radius: 5px; */
    /* margin-right: 2px; */
    margin-bottom: 10px;
    
  }
  
 